<!DOCTYPE html>
<html>
    <head>
        <title>blog com flask</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
    </head>
    <body>
        <div class="corpo">
            <div class="topo">
                <header>
                    <nav>
                        <a href="/"> Home </a> |
                        <a href="/add">Adicionar Postagem</a>
                    </nav>
                </header>
            </div>
        
            {% block corpo %}
            {% endblock %}

    </body>
</html>